/* ------------Generelt----------------- */
@font-face {
  font-family: "helvetica-neue";
  src: url(fonts/freesansbold-webfont.woff2) format(woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------Skrift----------------- */

h2 {
  font-family: helvetica-neue, sans-serif;
  color: black;
  size: 23px;
  font-weight: bold;
}

h3 {
  font-family: helvetica-neue, sans-serif;
  color: black;
  size: 20px;
  font-weight: bold;
}

h4 {
  font-family: helvetica-neue, sans-serif;
  color: black;
  size: 21px;
  font-weight: bold;
}

p {
  font-family: clone-rounded-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.4;
}

/* ------------header----------------- */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: right;
  align-items: center;
  min-height: 10vh;
  position: relative;
  z-index: 5;
  border-bottom: 0.5px solid black;
}

header img {
  grid-column: 1;
  display: block;
  width: 70px;
  height: auto;
  margin-left: 20px;
}

.menuknap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid gray; */
  grid-column: 3;
}

.menuknap_burger {
  width: 30px;
  height: 2px;
  background: #231709;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before,
.menuknap_burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #231709;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before {
  transform: translateY(-10px);
}

.menuknap_burger::after {
  transform: translateY(10px);
}

/* -----header animation---- */

.menuknap.open .menuknap_burger {
  transform: translateX(50px);
  background: transparent;
}

.menuknap.open .menuknap_burger::before {
  transform: rotate(45deg) translate(-35px, 35px);
}

.menuknap.open .menuknap_burger::after {
  transform: rotate(-45deg) translate(-35px, -35px);
}

.hidden {
  opacity: 0;
  transform: translateY(-100vw);
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  text-align: right;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 100%;
  width: 100%;
}

#menu li {
  margin-top: 15px;
}

header li a {
  font-family: helvetica-neue, sans-serif;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  margin-right: 30px;
  text-decoration: none;
}

.ingen_menu {
  display: none;
}

@media (min-width: 800px) {
  .menuknap {
    display: none;
  }

  .ingen_menu {
    display: initial;
    list-style-type: none;
    display: flex;
  }

  nav {
    grid-column: 3;
  }

  header img {
    width: 80px;
  }
}
