/* ------------Generelt----------------- */
@font-face {
  font-family: "helvetica-neue";
  src: url(fonts/freesansbold-webfont.woff2) format(woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------Skrift----------------- */

h2 {
  font-family: helvetica-neue, sans-serif;
  color: black;
  size: 23px;
  font-weight: bold;
}

h3 {
  font-family: helvetica-neue, sans-serif;
  color: black;
  size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  font-family: helvetica-neue, sans-serif;
  color: black;
  size: 21px;
  font-weight: bold;
}

p {
  font-family: clone-rounded-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.4;
}

/* ------------header----------------- */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: right;
  align-items: center;
  height: 6rem;
  position: relative;
  z-index: 20;
  border-bottom: 0.5px solid black;
  background-color: white;
}

header img {
  grid-column: 1;
  display: block;
  width: 90px;
  height: auto;
  margin-left: 20px;
}

.menuknap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid gray; */
  grid-column: 3;
}

.menuknap_burger {
  width: 30px;
  height: 2px;
  background: #231709;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before,
.menuknap_burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #231709;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before {
  transform: translateY(-10px);
}

.menuknap_burger::after {
  transform: translateY(10px);
}

/* -----header animation---- */

.menuknap.open .menuknap_burger {
  transform: translateX(50px);
  background: transparent;
}

.menuknap.open .menuknap_burger::before {
  transform: rotate(45deg) translate(-35px, 35px);
}

.menuknap.open .menuknap_burger::after {
  transform: rotate(-45deg) translate(-35px, -35px);
}

.hidden {
  opacity: 0;
  transform: translateY(-100vw);
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  text-align: right;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 100%;
  width: 100%;
}

#menu li {
  margin-top: 15px;
}

header li a {
  font-family: helvetica-neue, sans-serif;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: normal;
  margin-right: 30px;
  text-decoration: none;
}

.ingen_menu {
  display: none;
}

/****** struktur *****/
main {
  max-width: 1400px;
  margin: 0 auto;
  z-index: 2;
}

/***** footer *****/

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 1rem;
}

footer p {
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: black;
}

/***** about side *****/

.lamper {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr;
}

.stander {
  grid-column: 2/3;
}

.wall {
  grid-column: 4/5;
  height: 50%;
}

.yellow,
.grey {
  display: none;
}

article {
  border: 1px solid black;
  margin: 30px;
  padding: 30px;
}

article div {
  margin-bottom: 20px;
}

.hide {
  display: none;
}

h2 {
  margin-bottom: 30px;
}

article {
  margin: 30px;
  margin-bottom: 0;
}

.stander {
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
}

/***** Forside ******/

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 200;
}

#stik {
  background-image: url(billeder/stikkontakt.svg);
  position: absolute;
  width: 24vw;
  height: 37vw;
  background-size: 100%;
  left: 38vw;
  top: 18vw;
  cursor: pointer;
}

button {
  background-color: white;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  font-family: helvetica-neue, sans-serif;
  color: black;
  size: 21px;
  font-weight: bold;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.navKategori {
  text-align: center;
  margin: 20px;
  z-index: 10;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}

.valgt {
  border-width: 2px;
}

figure {
  height: 100%;
  align-items: baseline;
  margin: auto;
}

#template_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  z-index: 5;
}

/* #template_section figure:nth-child(3n) {
  grid-column: span 2;
} */

/* #template_section figure:nth-child(3n) {
  grid-column: span 2;
} */

/* #template_section figure:nth-child(12n) {
  grid-column: span 1;
} */

#template_section figure:nth-child(1n) {
  width: 100px;
}

#template_section figure:nth-child(2n) {
  width: 130px;
}

#template_section figure:nth-child(3n + 1) {
  width: 100px;
}

.bund {
  grid-row: 3;
  justify-content: end;
}

.top {
  grid-row: 1;
  margin-top: -67px;
}

.midte {
  grid-row: 2;
}

.lampePortefolio img {
  cursor: pointer;
}

.zoomIn {
  animation-name: zoom_kf;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#forside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@keyframes zoom_kf {
  0% {
    transform: scale(70%);
  }
  100% {
    transform: scale(130%);
  }
}

.zoomOut {
  animation-name: zoom_out_kf;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoom_out_kf {
  0% {
    transform: scale(110%);
  }
  100% {
    transform: scale(60%);
  }
}

/**** mobile above & web below ****/

@media (min-width: 800px) {
  .menuknap {
    display: none;
  }

  .ingen_menu {
    display: initial;
    list-style-type: none;
    display: flex;
  }

  nav {
    grid-column: 3;
  }

  header img {
    width: 120px;
  }

  footer p {
    font-size: 1rem;
  }

  .navKategori {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }

  #template_section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #template_section figure:nth-child(3n + 1) {
    width: 200px;
  }

  #template_section figure:nth-child(6) {
    margin-bottom: -164px;
  }

  #template_section figure:nth-child(7) {
    margin-bottom: -59px;
  }

  #template_section figure:nth-child(9) {
    margin-bottom: -218px;
  }

  .top {
    margin-top: -64px;
  }
}

/***** about media querys ******/

@media (min-width: 867px) {
  .lamper {
    display: grid;
    grid-template-columns: 1fr 1.6fr 1fr 1fr;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  article {
    margin: 30px;
  }

  .yellow {
    display: grid;
    grid-column: 2;
  }

  .grey {
    display: grid;
  }

  .stander,
  .wall {
    display: none;
  }

  article div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .hide {
    display: grid;
  }

  #stik {
    width: 10vw;
    height: 15.47vw;
    left: 44vw;
    top: 12vw;
  }
}
